VITE_SUPABASE_URL=https://dytplfewbeixitytfbgp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR5dHBsZmV3YmVpeGl0eXRmYmdwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3OTQ5ODUsImV4cCI6MjA5MzM3MDk4NX0.6pFKcouXlcmC3EsGUmEAioz5MrZ3G4eBEi3HvWN3bQ4
VITE_RESEND_API_KEY=re_f5qpsdUp_77SmrDMhmDpq6XBeL4xWZYSg
VITE_CLERK_PUBLISHABLE_KEY=pk_test_dG91Y2hlZC1lZWwtMTIuY2xlcmsuYWNjb3VudHMuZGV2JA
VITE_RAZORPAY_KEY_ID=YOUR_RAZORPAY_KEY_ID
VITE_UMAMI_WEBSITE_ID=YOUR_UMAMI_WEBSITE_ID
