@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #0f172a;
    --surface: #f8fafc;
    --surface-foreground: #0f172a;
    
    --primary: #ff4b4b;
    --on-primary: #ffffff;
    
    --outline: #e2e8f0;
  }

  .dark {
    --background: #0f172a;
    --foreground: #ffffff;
    --surface: #1e293b;
    --surface-foreground: #ffffff;
    
    --primary: #ff4b4b;
    --on-primary: #ffffff;
    
    --outline: #334155;
  }

  body {
    background-color: var(--surface);
    color: var(--foreground);
    @apply font-sans antialiased selection:bg-pl-brand selection:text-white transition-colors duration-300 flex justify-center min-h-[100dvh];
  }

  #root {
    @apply w-full max-w-[480px] min-h-[100dvh] relative overflow-x-hidden bg-[var(--background)] shadow-2xl shadow-black/20 border-x-[3px] border-foreground;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .text-stroke {
    -webkit-text-stroke: 1px var(--foreground);
    color: transparent;
  }
  
  .glass {
    @apply bg-white/70 dark:bg-slate-900/70 backdrop-blur-md border border-white/20 dark:border-slate-800/50 shadow-sm;
  }
  
  .glass-card {
    @apply bg-white/80 dark:bg-slate-800/50 backdrop-blur-xl border border-white/50 dark:border-slate-700/50 rounded-2xl shadow-sm transition-all duration-300;
  }
}
